.package-container{
    width: 440px;
    height: 774px;
    top: 1930px;
    display:flex;
    flex-direction: column;
}
.package-heading{
    font-family: Onest;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;

}
.filters{
    display: flex;
    gap: 10px;
    width: 1400px;
    flex-wrap: wrap;
}
.category-row {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px; 
    margin: 80px;
    gap: 50px;
  }
.detail-text-group{
    display: flex;
    width: 1000px;
    justify-content: space-between;
}
.detail-text-group .detail-text{
    font-family: Onest;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

color: #868580;

}
.detail-text-group .button-group{
    position: absolute;
    right: 10%;
    width: 122px;
height: 52px;
padding: 5px;
border-radius: 4px;
border: 1px;
margin: 1%;
background: #4549464D;
border: 1px solid #4549464D
}
.detail-text-group .button-group .button-text{

    font-family: Onest;
font-size: 16px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: black;
}
