.about-container {
    width: 200px;
    height: 814px;
    top: 983px;
    left: 120px;
    gap: 70px;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
.about-container-left{
    width: 500px;
    height: 306px;
    top: 288px;
}
.about-container-right{
    display: flex;
    height: 447.3px;
    width: 550px;
    position: relative;
}
.about-container-left .group{
    display: flex;
    flex-direction: column;
    width: 476px;
    height: 204px;
    gap: 20px;

}
.about-container-left .group .detail-section{
gap: 10px;
display: flex;
flex-direction: column;
}
.about-container-left .group .detail-section .detail-section-content{
    gap: 10px;
    display: flex;
    }

    
.about-container-left .group .detail-section .detail-section-content .text{
    width: 172px;
height: 20px;
font-family: Onest;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
.about-container-left .group .detail-section .content{
    font-family: Onest;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
width: 476px;
height: 60px;
color:#868580;
;
}
.about-container-left .group .detail-section .detail-section-content .image{
    padding-top: 23px;
    height: 4px;
}
.about-container-left .group .heading{
    font-family: Onest;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    color: #0D0B01;    
}
.about-container-right .services-group {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display 3 services in one row */
}

.about-container-right .services-group .services {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.about-container-right .services-group .services .service-container {
    width: 198px;
    height: 120px;
    padding: 30px;
    border-radius: 30px;
    background: #F2F2F2;
    display: flex;
}

.about-container-right .services-group .services .service-container .group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 75px;
    height: 74.01px;
}

.about-container-right .services-group .services .service-container .group .image {
    width: 75px;
    height: 74.01px;
}

.about-container-right .services-group .services .service-container .group .text {
    width: 138px;
    height: 20px;
    font-family: Onest;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #0D0B01;
}
