@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Onest", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

#navLinksContainer > ul > li {
  cursor: pointer;
  border-bottom: 2px solid transparent;

  transition: all 100ms ease-in-out;
  &:hover {
    border-bottom: 2px solid #00CF91;
  }
}

input:focus {
  outline: 1px solid #16e7a8;
}

button,
input[type="submit"] {
  outline: none;
  transition: all 0.3s ease; /* Added transition property */
  &:hover {
    background: #fff;
    color: #00CF91;
    cursor: pointer;
    box-shadow: 10px 10px 20px 0px rgba(0, 207, 145, 0.2) ;
   }
 &:active{
  color: #fff;
  background-color: rgb(110, 110, 255);
 }
}

#nav_SignUp,
#nav_SignIn {
  background-color: transparent !important;
  transition: all 0.3s ease;
  &:hover{
    background-color: transparent !important;
  }
}
.swal2-confirm {
  transition: all 0.3s ease;
  &:hover {
    color: #fff !important;
    background-color: #05815c !important;
  }
}

.hero-dsh-header {
  display: flex;
  justify-content: flex-end;
}

.cus1 {
  overflow: hidden;
}

@media only screen and (max-width: 350px) and (min-width: 299px) {
  .hero-dsh-header {
    display: block;
  }

  .hero-dsh-headerP {
    text-align: center;
    width: 330px;
  }
  .btn-wapper-dsh {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-pj {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .w-2\/4 {
    width: 100%;
  }

}


